- hosts: all
  order: inventory
  vars:
    puerto_server_app: 8080
  gather_facts: True

        
  tasks:
  
    - name: Preparaci칩n de la m치quina en funci칩n del SO
      debug:
        msg: Inicio del Playbook
  
    - name: Trabajo en el SO Debian/Ubuntu
      when: ansible_facts.distribution == "Ubuntu" or ansible_facts.distribution == "Debian"
      block:
        - name: Actualizar el sistema operativo
          debug:
            msg: | 
               Command apt ugrade
        
        - name: Actualizar el sistema operativo
          debug:
            msg: | 
               Command apt update
               
        - name: Apertura de puertos en firewall
          when: ansible_facts.distribution == "Ubuntu"
          debug:
            msg: ufw --add-port={{ puerto_server_app }}/tcp
        
        - name: Apertura de puertos en firewall
          when: ansible_facts.distribution == "Debian"
          debug:
            msg: iptables.....{{ puerto_server_app }}
        
               
    - name: Trabajo en el SO CentOS/Fedora
      when: ansible_facts.distribution == "CentOS" or ansible_facts.distribution == "Fedora"
      block:
        - name: Actualizar el sistema operativo
          debug:
            msg: | 
               Command yum upgrade
        
        - name: Actualizar el sistema operativo
          debug:
            msg: | 
               Command yum update
        
        - name: Apertura de puertos en firewall
          debug:
            msg: firewalld --add-port={{ puerto_server_app }}/tcp
        

    - name: Configurar variables SO
      debug:
        msg: Configuraciones del SO
        
    - name: Creaci칩n usuarios
      debug:
        msg: Crear usuarios
    