- hosts: all
  order: inventory
  vars: {}
  gather_facts: True

        
  tasks:

    - name: Parar servidor de aplicaciones
      debug:
        msg: | 
         Aquí paro el Servidor de apps si existe y está arrancando
      register: parada_server_apps  # Genera una variable con la info de la tarea.
      ignore_errors: True
      
    - name: Descarga e instalacion del Servidor de aplicaciones
      when: parada_server_apps.failed
      block:
        - name: Descargar servidor de aplicaciones
          debug:
            msg: | 
             Inicio del Playbook 3
             Descargar servidor con cmd correspondientes.
      
        - name: Instalar el servidor de aplicaciones
          debug:
            msg: Aquí se instala el servidor de aplicacioens.

    - name: Configurar Servidor aplicaciones
      template:
        src: ./config_server.xml
        dest: /tmp/cfg_srv.xml
        
    - name: Arranque del servidor de aplicaciones
      debug:
        msg: Arrancar servidor de aplicaciones.
    